{% extends "base.html" %}

{% block content %}
<h1 class="title" id = "test">
    Hello Kid
</h1>

<p class="subtitle">
    This is Interactive Encyclopedia with <strong>Bulma</strong>!
</p>

<input id = "topic-input" type = "text" placeholder="Topic">
<button id ="select-topic-button" type="button" class="button is-primary">Select Topic</button>
<pre id="topic-explanation">Topic Explanation</pre>

<button id ="list-subtopic-button" type="button" class="button is-primary">List Subtopics</button>
<pre id="subtopics-list">Subtopic List</pre>

<input id = "subtopic-input" type = "text" placeholder="Subtopic Index">
<button id ="select-subtopic-button" type="button" class="button is-primary">Select Subtopic</button>
<pre id="subtopic-explanation">Subtopic Explanation</pre>

<button id ="list-subsubtopic-button" type="button" class="button is-primary">List Subsubtopics</button>
<pre id="subsubtopics-list">Subsubtopic List</pre>

<input id = "subsubtopic-input" type = "text" placeholder="Subsubtopic Index">
<button id ="select-subsubtopic-button" type="button" class="button is-primary">Select Subsubtopic</button>
<pre id="subsubtopic-explanation">Subsubtopic Explanation</pre>

<input id = "followup-input" type = "text" placeholder="Followup Question">
<button id ="followup-button" type="button" class="button is-primary">Submit Followup</button>
<pre id="followup-answer">Followup Answer</pre>
{% endblock %}
